<div class="full-page">
    <div class="row">
        <div class="logo col-lg-2 col-md-2 col-xs-2">

        </div>
        <!-- Leaderboard Grid -->
        <div class="leaderboard col-lg-4 col-md-9 col-sm-9 col-xs-9"> 
            <ul class="list" >
                <!-- Top Score -->
                <div class="title">
                    <h2>
                        L&D Leaderboard
                    </h2>
                </div>
                <li class="first row">
                    <div class="col-lg-3  col-xs-3 rank-block" >
                        <span class="row rank">
                            RANK
                        </span>
                        <span class="row rank-value">
                            000
                        </span>
                    </div>
                    <!-- Avatar -->
                    <div class="col-lg-6  col-xs-6 avatar-block">
                        <img src="../../assets/logo.png" class="top-avatar">
                        <span class="top-marks row ">Chathren
                        </span>
                    </div>
                    <!-- Score -->
                    <div class="col-lg-3 col-xs-3 score-block" >
                        <span class="row score">
                            SCORE
                        </span>
                        <span class="row score-value">
                            000
                        </span>
                    </div>
                </li>


                <!-- Secound Score -->
                <li class="regular-marks row">
                    <!-- Avatar -->
                    <div class="col-lg-1 col-xs-1 trophy-block">
                        <span class="trophy-sec"></span>
                    </div>
                    <div class="col-lg-1 col-xs-1 avatar-block-regular">
                        <span class="avatar"></span>
                    </div>
                    <!-- Name -->
                    <div class="col-lg-4 col-xs-4 name-block-regular">
                        <span class="name">
                            Olivia
                        </span>
                    </div>
                
                    <!-- Score -->
                    <div class=" col-lg-4 col-xs-4 score-block-regular" >
                        <span class="score-value">
                            1563
                        </span>
                    </div>
                </li>
                <!-- Third Score -->
                <li class="regular-marks row">
                    <div class="col-lg-1 col-xs-1 trophy-block">
                        <span class="trophy-third"></span>
                    </div>
                    <!-- Avatar -->
                    <div class="col-lg-1 col-xs-1 avatar-block-regular">
                        <span class="avatar"></span>
                    </div>
                    <!-- Name -->
                    <div class=" col-lg-4  col-xs-4 name-block-regular">
                        <span class="name">
                            Sophia
                        </span>
                    </div>
                
                    <!-- Score -->
                    <div class="col-lg-4 col-xs-4 score-block-regular" >
                        <span class="score-value">
                            7878
                        </span>
                    </div>
                </li>
                <!-- Regular Scores -->
                <li class="regular-marks row">
                    <!-- Avatar -->
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 trophy-block">
                        <span class="trophy">
                            3
                        </span>
                    </div>
                    <div class="col-lg-1 col-xs-1 avatar-block-regular">
                        <span class="avatar"></span>
                    </div>
                    <!-- Name -->
                    <div class=" col-lg-4  col-xs-4 name-block-regular">
                        <span class="name">
                            Emily
                        </span>
                    </div>
                
                    <!-- Score -->
                    <div class="col-lg-4 col-xs-4 score-block-regular" >
                        <span class=" score-value">
                            7879
                        </span>
                    </div>
                </li>
                <li class="regular-marks row">
                    <!-- Avatar -->
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 trophy-block">
                        <span class="trophy">
                            4
                        </span>
                    </div>
                    <div class="col-lg-1 col-xs-1 avatar-block-regular">
                        <span class="avatar"></span>
                    </div>
                    <!-- Name -->
                    <div class=" col-lg-4  col-xs-4 name-block-regular">
                        <span class="name">
                            Emily
                        </span>
                    </div>
                
                    <!-- Score -->
                    <div class="col-lg-4 col-xs-4 score-block-regular" >
                        <span class=" score-value">
                            7879
                        </span>
                    </div>
                </li>  
                <li class="regular-marks row">
                    <!-- Avatar -->
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 trophy-block">
                        <span class="trophy">
                            5
                        </span>
                    </div>
                    <div class="col-lg-1 col-xs-1 avatar-block-regular">
                        <span class="avatar"></span>
                    </div>
                    <!-- Name -->
                    <div class=" col-lg-4  col-xs-4 name-block-regular">
                        <span class="name">
                            Emily
                        </span>
                    </div>
                
                    <!-- Score -->
                    <div class="col-lg-4 col-xs-4 score-block-regular" >
                        <span class=" score-value">
                            7879
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
  